You are signed up for {{event.title}},<br /> on {{niceDate}}.

<br />
You're party is of {{reservation.numberInParty}}.
<br />
&& {{reservation.numberOfVegans}} are Vegan.
<br />
<br />
<br />
<button onclick="window.location.href='/nation/open/{{simpleName}}/events/'">Back</button>
